*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/736/593/non_2x/geometric-cube-seamless-pattern-soft-gray-and-white-wide-background-minimalist-concept-ready-for-your-backdrop-wallpaper-design-template-free-vector.jpg');
    background-size: cover;
    background-position: center;
}